#menu{
    width:800px;
    height:50px;
    float:auto;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-top:50px;
    margin-bottom: -20px;
    background-color:rgb(23, 216, 216);
    box-shadow:0px 5px 10px 2px rgba(17, 86, 189, 0.678);

}
#menu ul{
    margin:0px;
    padding:0px;
}
#menu li{
    float:left;
    display:block;
    width:150px;
    height:50px;
    text-align: center;
    line-height: 30px;
}
#menu li:hover{
    background-color: cadetblue;
}